$primary: #000;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol !important;
}


.carousel-container{

    background-color: white;
    color: #000 !important;
    padding: 2rem !important;
    bottom: 9rem !important;
    top: 20%;
    right: 55% !important;
    text-align: left !important;
}

.fea-circle{
    text-align: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}


// Import Files
@import "../node_modules/bootstrap/scss/bootstrap.scss";